<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem  id="menu_register"
                name="Cadastro"
                sequence="10"/>

    <!-- <menuitem  id="menu_bens_register"
                parent="menu_register"
                name="Cadastro de Bens"
                sequence="10"/> -->
</odoo>
